
.cabecalho{
    box-shadow: 4px 4px 0px black;
    background: purple;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__imagem{
    width: 100px;
}

.cabecalho__menu__item{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    margin-right: 30px;
}

.cabecalho__menu__item:hover{
    color: var(--roxo-claro);
    border-bottom: 2px solid var(--roxo-claro);
}


