:root{
    --roxo-claro: #DFCCD0;
    --violeta: palevioletred;
}

.cabecalho{
    background: purple;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__imagem{
    width: 100px;
}

.cabecalho__menu__item{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    margin-right: 30px;
}

.cabecalho__menu__item:hover{
    color: var(--roxo-claro);
    border-bottom: 2px solid var(--roxo-claro);
}

#cabecalho__menu__botao{
    background: var(--violeta);
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    border-radius: 8px;
    /* box-shadow: 4px 4px 0px black; */
}