.barra__progresso{
    box-sizing: border-box;
    background: whitesmoke;
    border: 5px solid black;
    height: 40px;
}

.barra__progresso::-webkit-progress-bar,
.barra__progresso::-moz-progress-bar 
{
    background-color: var(--verde-agua-forte);
}