.container__barra__progresso {
    background: var(--preto-acizentado);
    border-radius: 10px;
    height: 10px;
    width: 100%;
}

.barra__progresso {
    background: var(--violeta);
    border-radius: 10px;
    height: 100%;
}