.skill{
    display: flex;
    align-items: center;
}

.skill .skill__icone{
    margin-right: 25px;
    width: 90px;
}

.skill__titulo{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 24px;
    color: whitesmoke;
    margin-bottom: 16px;
}

.skill .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}