.titulo{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 32px;
    color: var(--rosa-pink);
    text-shadow: 4px 4px 0px black;
    /*text-shadow: x y blur cor */
}

.titulo.--second{
    color: whitesmoke;
    text-shadow: none;
    text-align: center;
}